@{
    ViewData["Title"] = "Home Page";
}


<main class="container ">
    <div class="row row-cols-1 row-cols-md-2 ">

        <div class="col order-md-last text-end">
@*             <img src="/img/PeoplePoints.png" class=" img-fuid app-logo rounded-3" /> *@
               <img src="/img/PeoplePoints.png" width="400" height ="500" class="rounded-3" />
        </div>

        <div class="col">
            <div class="ms-5">
                <h1 class="heroTitle">All Your <span class="texthighlight">Contacts</span> In One Place</h1>
                <div class="subtitle">
                    Organize your events by keeping everyone in the loop.
                    Experience the power of ContactPro - demo today!!
                    <br />
                    <br />
                    <strong>Built with pride using cutting edge tech:</strong>
                    <br />
                    <div class="d-flex align-items-center mt-3">
                        @* Show Techs here*@
                        <figure>
                            <img src="https://devicons.railway.app/i/dot-net.svg" class="imgicon" />
                            <figcaption>ASP.NET</figcaption>
                        </figure>
                        <figure>
                            <img src="https://devicons.railway.app/i/csharp.svg" class="imgicon" />
                            <figcaption>C#</figcaption>
                        </figure>
                        <figure>
                            <img src="https://devicons.railway.app/i/postgresql.svg" class="imgicon" />
                            <figcaption>Postgres</figcaption>
                        </figure>
                        <figure>
                            <img src="https://devicons.railway.app/i/bootstrap.svg" class="imgicon" />
                            <figcaption>Bootstrap</figcaption>
                        </figure>
                        <figure>
                            <img src="https://devicons.railway.app/i/railway-dark.svg" class="imgicon" />
                            <figcaption>Railway</figcaption>
                        </figure>
                    </div>
                </div>
            </div>


        </div>

    </div>

    <div class="col-12">

        <div class="col-12 btn text-center pt-5">

   @*          <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a> *@

@*             <a class="btn btn-lg btn-outline-primary rounded-pill px-5" style="height:min-content" asp-controller="Account" asp-action="Register">Get Started!</a> *@
                        <a class="btn btn-lg btn-outline-primary rounded-pill px-5" style="height:min-content"
                        asp-area="Identity" asp-page="/Account/Login">Get Started!</a>
        </div>
    </div>


</main>





