@using contactPro2.Models.Enums;
@model contactPro2.Models.Contact
@using contactPro2.Services.Interfaces;

@inject IImageService _ImageService

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Contact</h1>

<div class="p-3 border border-2 shadow-lg bg-light">
    <form asp-action="Edit" asp-controller="Contacts" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="AppUserId" />
        <input type="hidden" asp-for="Created" />
        <input type="hidden" asp-for="ImageData" />
        <input type="hidden" asp-for="ImageType" />

        <div class="row g-3 p-2">
            <div class="col-12 col-lg-4">
                <div class="square-img-container">
                    <img id="contactImage" class="square-img" src="@_ImageService.ConvertByteArrayToFile(Model.ImageData!, Model.ImageType!)" >
                </div>
                <div>
                    <input asp-for="ImageFile" class="form-control" accept=".png,.jpg,.jpeg,.gif" onchange="document.getElementById('contactImage').src= window.URL.createObjectURL(this.files[0])" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="col-12 col-lg-6">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="col-12 col-lg-6 mt-2">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="col-12 col-lg-6 mt-2">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="col-12 mt-2">
                        <label asp-for="Address1" class="control-label"></label>
                        <input asp-for="Address1" class="form-control" />
                        <span asp-validation-for="Address1" class="text-danger"></span>
                    </div>
                    <div class="col-12 mt-2">
                        <label asp-for="Address2" class="control-label"></label>
                        <input asp-for="Address2" class="form-control" />
                        <span asp-validation-for="Address2" class="text-danger"></span>
                    </div>
                    <div class="col-12 col-lg-6 mt-2">
                        <label asp-for="City" class="control-label"></label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="col-12 col-lg-4 mt-2">
                        <label asp-for="State" class="control-label"></label>
                        <select asp-for="State" class="form-select" asp-items="@Html.GetEnumSelectList<States>()">
                            <option></option>
                        </select>
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                    <div class="col-12 col-lg-2 mt-2">
                        <label asp-for="ZipCode" class="control-label"></label>
                        <input asp-for="ZipCode" class="form-control" />
                        <span asp-validation-for="ZipCode" class="text-danger"></span>
                    </div>
                    <div class="col-12 col-lg-6 mt-3">
                        <label asp-for="Categories" class="control-label"></label>
                        <select name="Selected" class="form-control" asp-items="ViewBag.CategoryList" multiple></select>
                    </div>
                    <div class="col-12 col-lg-6 mt-3">
                        <label asp-for="DateOfBirth" class="control-label"></label>
                        <input asp-for="DateOfBirth" class="form-control" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-between mt-2 ">
                <a asp-action="Index" class="btn btn-lg btn-outline-secondary rounded-pill">Cancel</a>
                <button type="submit" class="btn btn-lg btn-primary rounded-pill">Save</button>
            </div>
        </div>
    </form>
</div>




<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
